.sidebar {
    background-color: deepskyblue;

    display: grid;
    grid-template-rows: 75px 350px 150px;
    justify-content: center;
    
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;

    font-family: 'Roboto', sans-serif;
    
}

html, body {
    height: 100%;
}

.main {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

#searchbar {
    background-color: lightgray;
    border: none;
    border-radius: 10px;
}

.buttonsGroup {


    text-align: center;

    display: grid;
    grid-template-columns: repeat(3, 150px);
}

.buttons {
    background-color: deepskyblue;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

.projects {
    background-color: lightgray;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.project {
    width: 300px;
    height: 200px;
    background-color: white;
    border-left: 5px solid orange;
    border-radius: 10px;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-items: center;
    align-items: center;
    padding: 1em;
}

.toptext {
    font-size: 12px;
}
.bottomtext {
    font-size: 18px;
}

.profiletop {
    display: grid;
    grid-template-columns: 70px 400px 700px;
}

.announcementsList {
    width: 270px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
}

.trendingList {
    width: 270px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
}

.TrendingProfile {
    display: grid;
    grid-template-columns: 50px 250px 50px;
}
